.contacts {
   margin: 0 auto;
   width: 100%;
   height: 717px;
   background: #191C19;
   border-radius: 30px;
   margin-bottom: 150px;
}
.contacts__container {
   width: 1400px;
   margin: 0 auto;
   position: relative;
}
.contacts__container-image {
   position: absolute;
   left: 673px;
   border-radius: 30px;
}
.contacts__title {
   font-size: 35px;
   line-height: 60px;
   letter-spacing: -0.03em;
   position: absolute;
   top: 320px;
   left: 125px;
}
.nav-contact {
   position: absolute;
   top: 408px;
   left: 125px;
}
.contact {
   margin-bottom: 20px;
}
.contact__link {
   font-size: 60px;
   line-height: 60px;
   text-decoration: none;
   letter-spacing: -0.03em;
   color: #FFFFFF;
}
.contact__link:hover {
   color: #1BFF07;
}