.footer {
   background-color: #FFFFFF;
   border-top-left-radius: 30px;
   border-top-right-radius: 30px;
   padding-top: 76px;
   width: 100%;
}
.footer__contacts {
   display: flex;
   justify-content: space-between;
}
.contacts__list {
   display: flex;
   gap: 24px;
}
.footer__text {
   font-family: 'Manrope';
   font-size: 22px;
   line-height: 30px;
   color: #000000;
   margin-bottom: 66px;
   letter-spacing: -0.03em;
}
.contact__link {
   font-size: 22px;
   line-height: 3 0px;
   text-decoration: none;
   letter-spacing: -0.03em;
   color: #000;
}
.contact__link:hover {
   color: #1BFF07;
}
.footer__info {
   display: flex;
   justify-content: space-between;
}
.footer__info-text {
   font-family: 'Manrope';
   font-size: 20px;
   line-height: 27px;
   color: #000000;
   opacity: 0.5;
}