.services {
   padding: 150px 0;
}
.services__chapter {
   width: 403px;
   font-size: 35px;
   line-height: 46px;
   margin-bottom: 80px;
   letter-spacing: -0.03em;
}
.service {
   margin-bottom: 40px;
}
.service:last-child {
   margin-bottom: 0;
}
.service__image {
   width: 100%;
   height: 200px;
   border-radius: 30px;
}
.service__box {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   height: 283px;
   background: #191C19;
   border-radius: 30px;
   padding: 40px 45px 60px 40px;
   margin-top: -2px;
}
.service__title {
   width: calc(50% - 35px);
   font-size: 55px;
   line-height: 61px;
   color: #1BFF07;
   letter-spacing: -0.03em;
}
.service__text {
   width: calc(50% - 8px);
   font-size: 22px;
   line-height: 29px;
   letter-spacing: -0.03em;
}
@media (max-width: 1199px) {
   .services {
      padding: 154px 0 110px;
   }
   .services__chapter {
      width: 326px;
      font-size: 28px;
      line-height: 37px;
      margin-bottom: 56px;
   }
   .service {
      margin-bottom: 32px;
   }
   .service__image {
      height: 162px;
      border-radius: 24px;
   }
   .service__box {
      height: 229px;
      padding: 32px 36px 47px 32px;
   }
   .service__title {
      font-size: 45px;
      line-height: 50px;
   }
   .service__text {
      width: calc(50% - 7px);
      font-size: 18px;
      line-height: 23px;
   }
}
@media (max-width: 767px) {
   
}