.skills {
   padding-top: 150px;
}
.skills-chapter {
   margin-bottom: 80px;
   font-size: 55px;
   line-height: 72px;
   letter-spacing: -0.03em;
}
.skills-list {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   row-gap: 40px;
}
.skill {
   width: calc(50% - 4px);
}
.skill__back {
   width: 45px;
   height: 44px;
   margin-bottom: 15px;
   background: #1BFF07;
   border-radius: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.skill__title {
   height: 46px;
   margin-bottom: 15px;
   font-size: 35px;
   line-height: 46px;
   color: #1BFF07;
   letter-spacing: -0.03em;
}
.skill__title_large {
   height: 138px;
}
.skill__text {
   font-size: 22px;
   line-height: 29px;
   letter-spacing: -0.03em;
}

@media (max-width: 1199px) {
   .skill {
      width: calc(50% - 4px);
   }
   .skills-chapter {
      margin-bottom: 62px;
      font-size: 45px;
      line-height: 58px;
   }
   .skills-list {
      row-gap: 41px;
   }
   .skill__back {
      margin-bottom: 12px;
      width: 36px;
      height: 36px;
   }
   .skill__title {
      height: 36px;
      margin-bottom: 11px;
      font-size: 28px;
      line-height: 36px;
   }
   .skill__title_large {
      height: 108px;
   }
   .skill__text {
      display: block;
      font-size: 18px;
      line-height: 23px;
   }
}
@media (max-width: 767px) {
   .skills {
      padding-top: 100px;
   }
   .skills-chapter {
      margin-bottom: 60px;
      font-size: 30px;
      line-height: 39px;
   }
   .skill {
      width: 100%;
   }
   .skill__back {
      margin-bottom: 10px;
   }
   .skills-list {
      row-gap: 60px;
   }
}