@import url(../styles/header.css);
@import url(../styles/projects.css);
@import url(../styles/skills.css);
@import url(../styles/services.css);
@import url(../styles/contacts.css);
@import url(../styles/footer.css);

html {
   scroll-behavior: smooth;
}
body {
   font-family: 'IBM Plex Mono', monospace;
   background-color: #000000;
}
main {
   font-weight: 400;
   color: #FFFFFF;
   letter-spacing: -0.03em;
}
button {
   font-family: inherit;
   cursor: pointer;
}
.container {
   width: 1150px;
   margin: 0 auto;
}
@media (max-width: 1199px) {
   .container {
      width: 100%;
      margin: 0 auto;
      padding: 0 17px;
   }
}
@media (max-width: 767px) {
   .container {
      padding: 0 13px;
   }
}